In [46]:
df1

    Unnamed: 0  city_id   City Name
0            0        3       تهران
1        34613        5          قم
2        41135        2    بندرعباس
3        41524        7         کرج
4        44053        4         رشت
5        44486        8       گرگان
6        53385        6       همدان
7        53530       10         یزد
8        57053        1      ارومیه
9        60827        9  گنبد کاووس
10       61278        0        اراک

In [1]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/All_Restaurants_in_Delino.csv')
df2 = pd.read_csv('/content/drive/MyDrive/All_Restaurants_by_area_in_Delino.csv')
df3 = pd.read_csv('/content/drive/MyDrive/All_foods_in_Delino.csv')

In [2]:
df1

,Unnamed: 0,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude
0,0,b7a0bf69-a22c-45c7-85db-4ed98b3fa1f6,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363
1,1,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375
2,2,f865b321-76dd-4c9f-90d1-c4baa8b40976,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495
3,3,67967d9f-653f-4c32-ac52-0cfa3e7d9202,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401
4,4,ee8c4172-c733-4e68-bbf5-6658142d7597,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816
...,...,...,...,...,...,...,...,...,...,...
1237,1237,17f25b56-79b9-49d4-b55e-ac70c1d2d060,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839
1238,1238,0c04b0eb-2f81-4661-b2e9-7aabd2d9c2f8,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736
1239,1239,1f43d015-821b-4b52-b5db-8a677056efd4,پیتزا تک,0.00,0.0,40 تا 60 دقیقه,اراک,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997
1240,1240,e4173814-c658-4a0d-8cf4-39b16ded7714,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163
1241,1241,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661

In [3]:
df1=df1.drop_duplicates(subset=['Name'])
df1

,Unnamed: 0,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude
0,0,b7a0bf69-a22c-45c7-85db-4ed98b3fa1f6,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363
1,1,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375
2,2,f865b321-76dd-4c9f-90d1-c4baa8b40976,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495
3,3,67967d9f-653f-4c32-ac52-0cfa3e7d9202,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401
4,4,ee8c4172-c733-4e68-bbf5-6658142d7597,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816
...,...,...,...,...,...,...,...,...,...,...
1237,1237,17f25b56-79b9-49d4-b55e-ac70c1d2d060,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839
1238,1238,0c04b0eb-2f81-4661-b2e9-7aabd2d9c2f8,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736
1239,1239,1f43d015-821b-4b52-b5db-8a677056efd4,پیتزا تک,0.00,0.0,40 تا 60 دقیقه,اراک,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997
1240,1240,e4173814-c658-4a0d-8cf4-39b16ded7714,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163
1241,1241,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661

In [4]:
from sklearn.preprocessing import LabelEncoder
#
# Instantiate LabelEncoder
#
le = LabelEncoder()
#
# Encode single column status
#
df1.Restaurant_Id = le.fit_transform(df1.Name)
#
# Print df.head for checking the transformation
#
df1.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Unnamed: 0,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude
0,0,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363
1,1,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375
2,2,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495
3,3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401
4,4,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816

In [5]:
df1.columns

Index(['Unnamed: 0', 'Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime', 'City Name', 'Address', 'Latitude', 'Longitude'],
      dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder
#
# Instantiate LabelEncoder
#
le = LabelEncoder()
#
# Encode single column status
#
df1['Unnamed: 0'] = le.fit_transform(df1['City Name'])
#
# Print df.head for checking the transformation
#
df1.head()

<ipython-input-6-853cf4c10992>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Unnamed: 0'] = le.fit_transform(df1['City Name'])

,Unnamed: 0,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363
1,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375
2,3,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495
3,3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401
4,3,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816

In [7]:
df1.rename(columns = {'Unnamed: 0':'city_id'}, inplace = True)
df1

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,city_id,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363
1,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375
2,3,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495
3,3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401
4,3,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816
...,...,...,...,...,...,...,...,...,...,...
1237,0,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839
1238,0,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736
1239,0,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه,اراک,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997
1240,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163
1241,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661

In [8]:
df2

       Unnamed: 0                    Name   City      area
0               0          فست فود صاب وی    کرج       110
1               1                    خروس  تهران       110
2               2  آبمیوه و بستنی تو دلیا    کرج       110
3               3            رستوران بوکا  تهران  آجودانیه
4               4           رستوران آواچی  تهران  آجودانیه
...           ...                     ...    ...       ...
63782       63782              پیتزا سنگی   اراک  کوی کوثر
63783       63783         رستوران بانی چو   اراک  کوی کوثر
63784       63784      کافه رستوران اسکای   اراک  کوی کوثر
63785       63785        تهیه غذای منظریه   اراک  کوی کوثر
63786       63786         تهیه غذای غذاچی   اراک  کوی کوثر

[63787 rows x 4 columns]

In [9]:
df2=df2.drop("Unnamed: 0", axis='columns')
df2

                         Name   City      area
0              فست فود صاب وی    کرج       110
1                        خروس  تهران       110
2      آبمیوه و بستنی تو دلیا    کرج       110
3                رستوران بوکا  تهران  آجودانیه
4               رستوران آواچی  تهران  آجودانیه
...                       ...    ...       ...
63782              پیتزا سنگی   اراک  کوی کوثر
63783         رستوران بانی چو   اراک  کوی کوثر
63784      کافه رستوران اسکای   اراک  کوی کوثر
63785        تهیه غذای منظریه   اراک  کوی کوثر
63786         تهیه غذای غذاچی   اراک  کوی کوثر

[63787 rows x 3 columns]

In [10]:
df1.columns

Index(['city_id', 'Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime', 'City Name', 'Address', 'Latitude', 'Longitude'],
      dtype='object')

In [11]:
df2.columns

Index(['Name', 'City', 'area'], dtype='object')

In [12]:
df2.rename(columns = {'City':'City Name'}, inplace = True)
df2

                         Name City Name      area
0              فست فود صاب وی       کرج       110
1                        خروس     تهران       110
2      آبمیوه و بستنی تو دلیا       کرج       110
3                رستوران بوکا     تهران  آجودانیه
4               رستوران آواچی     تهران  آجودانیه
...                       ...       ...       ...
63782              پیتزا سنگی      اراک  کوی کوثر
63783         رستوران بانی چو      اراک  کوی کوثر
63784      کافه رستوران اسکای      اراک  کوی کوثر
63785        تهیه غذای منظریه      اراک  کوی کوثر
63786         تهیه غذای غذاچی      اراک  کوی کوثر

[63787 rows x 3 columns]

In [13]:
df11 = pd.merge(df1, df2, on=['Name','City Name'], how='left')
df11

,city_id,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude,area
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
1,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آقا بزرگی
2,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,امامزاده قاسم
3,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,اندرزگو
4,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,اوشان
...,...,...,...,...,...,...,...,...,...,...,...
62604,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,کوی جام جم
62605,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,کوی رضوی
62606,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,کوی ولیعصر
62607,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,کوی کوثر
62608,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [14]:
df11=df11.drop_duplicates(subset=['Name'])
df11

,city_id,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude,area
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
96,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
126,3,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
209,3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
254,3,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...,...,...,...,...,...,...
62221,0,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
62327,0,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
62434,0,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه,اراک,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
62492,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
62608,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [16]:
df11.to_csv('se.csv')

In [15]:
df3

,Unnamed: 0,Id,Name,City Name,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
0,0,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,تهران,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000,0,-------------,False,False,True,True,False
1,1,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,تهران,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000,0,-------------,False,False,True,True,False
2,2,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,تهران,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000,0,-------------,False,False,True,True,False
3,3,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,تهران,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000,0,economic,False,False,True,True,False
4,4,822aec45-fcb3-47df-bab7-84a192e25b9d,فست فود تی تی هات,تهران,پــیـتــزا یکـنفـره,پیتزا قارچ ومرغ,مرغ، قارچ، فلفل دلمه، پنیر,105000,0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66050,66050,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,اراک,نوشیدنی,دلستر لیمو,NaN,12500,0,-------------,False,False,True,True,False
66051,66051,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,اراک,نوشیدنی,دلستر هلو,NaN,12500,0,-------------,False,False,True,True,False
66052,66052,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,اراک,نوشیدنی,دلستر استوایی,NaN,12500,0,-------------,False,False,True,True,False
66053,66053,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,اراک,نوشیدنی,لیموناد ماتادور,NaN,12500,0,-------------,False,False,True,True,False
66054,66054,e34a4d8e-1e2a-4703-ab34-1efb3938946a,کافه رستوران ماتادور,اراک,نوشیدنی,دلستر کلاسیک,NaN,10000,0,-------------,False,False,True,True,False

In [17]:
df12 = pd.merge(df11, df3, on=['Name','City Name'], how='left')
df12

,city_id,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude,...,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,...,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
2,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,...,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
3,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,...,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
4,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,...,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64941,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,...,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64942,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,...,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64943,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,...,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64944,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,...,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64945,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,...,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [18]:
df12.columns

Index(['city_id', 'Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime', 'City Name', 'Address', 'Latitude', 'Longitude', 'area',
       'Unnamed: 0', 'Id', 'Food_Category', 'Title', 'Ingredient', 'Price',
       'Discount(%)', 'Food Tag', 'Sale On Ramadan', 'Sale On Breakfast',
       'Sale On Noon', 'Sale On Night', 'Delino Recommendation'],
      dtype='object')

In [19]:
df13=df12[['Restaurant_Id','Food_Category', 'Title', 'Ingredient', 'Price',
       'Discount(%)', 'Food Tag', 'Sale On Ramadan', 'Sale On Breakfast',
       'Sale On Noon', 'Sale On Night', 'Delino Recommendation']]
df13

,Restaurant_Id,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
0,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,681,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
2,681,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
3,681,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
4,681,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
64941,1020,نوشیدنی,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64942,1020,نوشیدنی,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64943,1020,نوشیدنی,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64944,1020,نوشیدنی,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64945,1020,نوشیدنی,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [20]:
df14 = df13.dropna(subset=['Title'])
df14

,Restaurant_Id,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
1,681,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
2,681,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
3,681,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
4,681,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
5,681,پــیـتــزا یکـنفـره,پیتزا قارچ ومرغ,مرغ، قارچ، فلفل دلمه، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
64941,1020,نوشیدنی,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64942,1020,نوشیدنی,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64943,1020,نوشیدنی,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64944,1020,نوشیدنی,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64945,1020,نوشیدنی,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [21]:
df14.to_csv('foods.csv')

In [22]:
df11

,city_id,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime,City Name,Address,Latitude,Longitude,area
0,3,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه,تهران,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
96,3,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه,تهران,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
126,3,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه,تهران,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
209,3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه,تهران,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
254,3,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه,تهران,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...,...,...,...,...,...,...
62221,0,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
62327,0,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه,اراک,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
62434,0,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه,اراک,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
62492,0,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه,اراک,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
62608,0,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه,اراک,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [23]:
df5=df11[['city_id','City Name']]
df5

       city_id City Name
0            3     تهران
96           3     تهران
126          3     تهران
209          3     تهران
254          3     تهران
...        ...       ...
62221        0      اراک
62327        0      اراک
62434        0      اراک
62492        0      اراک
62608        0      اراک

[1164 rows x 2 columns]

In [24]:
df6=df5.drop_duplicates()
df6

       city_id   City Name
0            3       تهران
34613        5          قم
41135        2    بندرعباس
41524        7         کرج
44053        4         رشت
44486        8       گرگان
53385        6       همدان
53530       10         یزد
57053        1      ارومیه
60827        9  گنبد کاووس
61278        0        اراک

In [25]:
df6.to_csv('cities.csv')

In [26]:
df11.columns

Index(['city_id', 'Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime', 'City Name', 'Address', 'Latitude', 'Longitude',
       'area'],
      dtype='object')

In [27]:
df7=df11[['city_id','Address', 'Latitude', 'Longitude',
       'area']]
df7

,city_id,Address,Latitude,Longitude,area
0,3,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
96,3,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
126,3,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
209,3,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
254,3,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...
62221,0,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
62327,0,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
62434,0,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
62492,0,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
62608,0,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [28]:
df7.to_csv('locations.csv')

In [29]:
df11.columns

Index(['city_id', 'Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime', 'City Name', 'Address', 'Latitude', 'Longitude',
       'area'],
      dtype='object')

In [30]:
df8=df11[['Restaurant_Id', 'Name', 'Rate', 'Count of Rates',
       'deliveryTime']]
df8

,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime
0,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه
96,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه
126,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه
209,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه
254,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه
...,...,...,...,...,...
62221,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه
62327,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه
62434,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه
62492,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه
62608,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه

In [31]:
df8.to_csv('restaurants.csv')

In [32]:
df1 = pd.read_csv('/content/cities.csv')
df2 = pd.read_csv('/content/locations.csv')
df3 = pd.read_csv('/content/restaurants.csv')
df4 = pd.read_csv('/content/foods.csv')

In [33]:
df1

    Unnamed: 0  city_id   City Name
0            0        3       تهران
1        34613        5          قم
2        41135        2    بندرعباس
3        41524        7         کرج
4        44053        4         رشت
5        44486        8       گرگان
6        53385        6       همدان
7        53530       10         یزد
8        57053        1      ارومیه
9        60827        9  گنبد کاووس
10       61278        0        اراک

In [34]:
df2

,Unnamed: 0,city_id,Address,Latitude,Longitude,area
0,0,3,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
1,96,3,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
2,126,3,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
3,209,3,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
4,254,3,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...,...
1159,62221,0,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
1160,62327,0,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
1161,62434,0,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
1162,62492,0,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
1163,62608,0,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [35]:
df2=df2.drop("Unnamed: 0", axis='columns')
df2

,city_id,Address,Latitude,Longitude,area
0,3,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
1,3,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
2,3,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
3,3,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
4,3,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...
1159,0,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
1160,0,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
1161,0,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
1162,0,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
1163,0,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [36]:
df2.index += 1
df2

,city_id,Address,Latitude,Longitude,area
1,3,نیاوران، خیابان شهید مقدسی (مژده) خیابان میری،...,35.816131,51.434363,آصف
2,3,پونک، بین خیابان سردار جنگل و عدل، خیابان اردی...,35.765042,51.330375,ایوانک
3,3,پونک، بلوار همیلا، خیابان اورک، بین کوچه 8 و 1...,35.760783,51.340495,آتی ساز
4,3,دزاشیب، خیابان کریمی، کوچه حسین فلاح، پلاک 9,35.805820,51.443401,آصف
5,3,بلوار اندرزگو، خیابان سلیمی شمالی، خیابان اشکس...,35.800725,51.447816,آجودانیه
...,...,...,...,...,...
1160,0,اراک، خیابان شریعتی، نبش کوچه بانک ملت,34.077674,49.688839,الهیه
1161,0,اراک، خیابان شریعتی، نبش کوچه پامچال,34.076947,49.697736,الهیه
1162,0,اراک، سه راه ابوذر، خیابان ابوذر، روبروی نانوا...,34.095735,49.682997,خیابان دانشگاه
1163,0,اراک-میدان امام حسین-جنب مسجد امام حسین,34.120778,49.704163,الهیه
1164,0,اراک، خیابان شیرودی(خرم)، نبش کوچه مبارزان، جن...,34.076281,49.702661,NaN

In [37]:
df2.to_csv('location2.csv', index_label='id')

In [38]:
df3

,Unnamed: 0,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime
0,0,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه
1,96,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه
2,126,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه
3,209,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه
4,254,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه
...,...,...,...,...,...,...
1159,62221,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه
1160,62327,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه
1161,62434,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه
1162,62492,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه
1163,62608,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه

In [39]:
df3=df3.drop("Unnamed: 0", axis='columns')
df3

,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime
0,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه
1,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه
2,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه
3,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه
4,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه
...,...,...,...,...,...
1159,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه
1160,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه
1161,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه
1162,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه
1163,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه

In [40]:
df3.index += 1
df3

,Restaurant_Id,Name,Rate,Count of Rates,deliveryTime
1,483,رستوران نیدا لانژ,4.13,16.0,20 تا 40 دقیقه
2,681,فست فود تی تی هات,3.77,78.0,40 تا 55 دقیقه
3,861,فست فود چیزی لاو,4.00,34.0,30 تا 45 دقیقه
4,340,رستوران بلو لایف تهران,0.00,0.0,25 تا 45 دقیقه
5,462,رستوران مطبخ شمرون,3.63,19.0,25 تا 45 دقیقه
...,...,...,...,...,...
1160,333,رستوران بانی چو,0.00,0.0,30 تا 60 دقیقه
1161,527,رستوران ژیوان,0.00,0.0,20 تا 40 دقیقه
1162,931,پیتزا تک,0.00,0.0,40 تا 60 دقیقه
1163,234,تهیه غذای غذاچی,0.00,0.0,30 تا 50 دقیقه
1164,1020,کافه رستوران ماتادور,0.00,0.0,30 تا 50 دقیقه

In [41]:
df3.to_csv('restaurant2.csv', index_label='location_id')

In [42]:
df4

,Unnamed: 0,Restaurant_Id,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
0,1,681,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
1,2,681,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
2,3,681,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
3,4,681,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
4,5,681,پــیـتــزا یکـنفـره,پیتزا قارچ ومرغ,مرغ، قارچ، فلفل دلمه، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64900,64941,1020,نوشیدنی,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64901,64942,1020,نوشیدنی,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64902,64943,1020,نوشیدنی,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64903,64944,1020,نوشیدنی,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64904,64945,1020,نوشیدنی,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [43]:
df4=df4.drop("Unnamed: 0", axis='columns')
df4

,Restaurant_Id,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
0,681,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
1,681,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
2,681,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
3,681,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
4,681,پــیـتــزا یکـنفـره,پیتزا قارچ ومرغ,مرغ، قارچ، فلفل دلمه، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
64900,1020,نوشیدنی,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64901,1020,نوشیدنی,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64902,1020,نوشیدنی,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64903,1020,نوشیدنی,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64904,1020,نوشیدنی,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [44]:
df4.index += 1
df4

,Restaurant_Id,Food_Category,Title,Ingredient,Price,Discount(%),Food Tag,Sale On Ramadan,Sale On Breakfast,Sale On Noon,Sale On Night,Delino Recommendation
1,681,پــیـتــزا یکـنفـره,پیتزا ویژه تی تی,رست بیف، فیله مرغ، قارچ، فلفل دلمه ای، پنیر,129000.0,0.0,-------------,False,False,True,True,False
2,681,پــیـتــزا یکـنفـره,پیتزا رست بیف,رست بیف، قارچ، فلفل دلمه ای، پنیر,125000.0,0.0,-------------,False,False,True,True,False
3,681,پــیـتــزا یکـنفـره,پیتزا قارچ و گوشت,گوشت چرخ کرده، قارچ، فلفل دلمه ای، پنیر,115000.0,0.0,-------------,False,False,True,True,False
4,681,پــیـتــزا یکـنفـره,پپرونی,پپرونی، قارچ، فلفل دلمه ای، پنیر,105000.0,0.0,economic,False,False,True,True,False
5,681,پــیـتــزا یکـنفـره,پیتزا قارچ ومرغ,مرغ، قارچ، فلفل دلمه، پنیر,105000.0,0.0,economic,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
64901,1020,نوشیدنی,دلستر لیمو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64902,1020,نوشیدنی,دلستر هلو,NaN,12500.0,0.0,-------------,False,False,True,True,False
64903,1020,نوشیدنی,دلستر استوایی,NaN,12500.0,0.0,-------------,False,False,True,True,False
64904,1020,نوشیدنی,لیموناد ماتادور,NaN,12500.0,0.0,-------------,False,False,True,True,False
64905,1020,نوشیدنی,دلستر کلاسیک,NaN,10000.0,0.0,-------------,False,False,True,True,False

In [45]:
df4.to_csv('foods2.csv', index_label='id')